{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "document": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DEVELOPMENT__": true,
    "__SSR__": true,
    "__GOOGLE_API_KEY__": true,
    "__MAPBOX_API_KEY__": true,
  },
  "rules": {
    "global-require": 0,
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "__DEVELOPMENT__",
          "__CLIENT__",
          "__SERVER__",
          "__SSR__",
          "__GOOGLE_API_KEY__",
          "__MAPBOX_API_KEY__"
        ]
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to"
        ],
        "aspects": [
          "noHref",
          "invalidHref",
          "preferButton"
        ]
      }
    ]
  }
}
