{
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.eslint.js"
      }
    }
  },
  "extends": "airbnb",
  "globals": {
    "document": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DEVELOPMENT__": true,
    "__JIRA_HOST__": true,
    "__JIRA_USERNAME__": true,
    "__JIRA_PASSWORD__": true
  },
  "rules": {
    "global-require": 0,
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "__DEVELOPMENT__",
          "__CLIENT__",
          "__SERVER__",
          "__JIRA_HOST__",
          "__JIRA_USERNAME__",
          "__JIRA_PASSWORD__"
        ]
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to"
        ],
        "aspects": [
          "noHref",
          "invalidHref",
          "preferButton"
        ]
      }
    ]
  }
}
