.Editor {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  height: 100%;
  flex: 1 1 auto;

  .menu {
    flex: 0 0 80px;
  }

  .form {
    flex: 0 0 320px;
  }

  .preview {
    flex: 1 1 80%;
  }
}
